<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <h1>Accounter</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                    <li><a href="{% url 'registro' %}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
    
        {% endblock %}
    </main>
    <footer>
        <p>Accounter 2024</p>
    </footer>
</body>
</html>