{% extends "accounting/base_generic.html" %}

{% block title %}

{% endblock %}

{% block content %}
    <h2>Nuevo Movimiento</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const cajaSelect = document.getElementById('id_caja');
            const denominacionSelect = document.getElementById('id_denominacion');
            
            cajaSelect.addEventListener('change', function() {
                const cajaId = this.value;
                fetch(`/get_denominaciones/${cajaId}/`)
                    .then(response => response.json())
                    .then(data => {
                        denominacionSelect.innerHTML = '';
                        data.forEach(denominacion => {
                            const option = document.createElement('option');
                            option.value = denominacion.id;
                            option.textContent = denominacion.valor;
                            denominacionSelect.appendChild(option);
                        });
                    });
            });
            });
    </script>
{% endblock %}